---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";


// COLORS 
$text: #0a0014;
$background: #fdfaff;
$primary: #901dfc;
$secondary: #fd6dab;
$accent: #fc404a;

$primary-background-5: rgba($primary, .05);
$primary-background-20: rgba($primary, .2);
$secondary-background-5: rgba($secondary, .05);
$secondary-background-20: rgba($secondary, .2);

$link-color: $primary;
$link-color-visited: $link-color !default;

$background-color: $background;
$text-color: $text;


// $gray: #7a8288 !default;
// $dark-gray: mix(#000, $gray, 50%) !default;
// $b-gray: #100d13 !default;


$primary-color: $primary;
$focus-color: $accent;
$active-color: $accent;

$border: 1rem;

@import "timeline";
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* Using floats */

.entry-col {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.entries-grid-colcade{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
}

hr {
  border-top: 1px solid rgba(10, 0, 20, 0.05);
}

.test-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

@media (max-width: 600px) {
  .test-grid {
    grid-template-columns: 1fr;
  }
}

.entry-header{
  display: flex;
  flex-direction: column;
}

.entry-title { 
  margin-top: 5px;
  text-align: center;
}

.entry-image{
  margin-bottom: 20px;
  horiz-align: center;
  //width: 200px;
  border-radius: $border;
  object-fit: cover;
}

.entry-link {
  text-decoration: none;
  color: unset;
  //display: flex;
}

.entry-link:visited {
  text-decoration: none;
  color: unset;
}

.entry {
  background-color: $primary-background-5;
  border-radius: $border;
  horiz-align: left;
  
  padding: 20px;
  
  transition: background-color 0.2s;
}

.entry:hover {
  background-color: $primary-background-20;
}


.lang {
  background-color: $primary-background-5;
  border-radius: $border;
  padding: 20px;
}

h2 {
  //border-bottom: 1px solid $primary-background-20 !important;
}

.fancy-text {
  font-size: 3.1em;
  //font-weight: normal;
  text-align: center;
  //letter-spacing: 0.2em;
  //font-family: "Hotel De Paris Xe";
  //font-family: "Arial";
}

.h-landing {
  text-align: center; font-size: 2.5em;
}


.button {
  padding: 0.5em 2em;
  border-radius: 0.5rem;
  display: inline-block;
  z-index: 1;
  white-space: nowrap;
  text-decoration: none;
  outline: none !important;
  border: none;
}

.primary-button {
  background-color: $primary;
  color: rgb(253, 250, 255) !important;
  transition: transform ease 0.2s, box-shadow ease 0.2s;
  z-index: 2;
  white-space: nowrap;
}

.primary-button:hover {
  transform: translate(0, -3px);
  box-shadow: 0 20px 80px -10px $primary;
}

.secondary-button {
  background-color: rgba($secondary, 0.3);
  color: $text !important;
  transition: transform ease 0.2s;
}

.secondary-button:hover {
  transform: translate(0, -3px);
  transition: transform ease 0.2s;
}


.h-scroll-box {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  gap: 30px;
  padding-bottom: 10px;
  overflow-x: auto;
  box-sizing: border-box;
  
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.h-scroll-box::-webkit-scrollbar {
  border-radius: 10px;
  margin-top: 10px;
}

.h-scroll-box::-webkit-scrollbar-track {
  //background: transparent;
  background-color: rgba(#e4e4e4, 0.5);
  border-radius: 100px;
}

.h-scroll-box::-webkit-scrollbar-thumb:horizontal {
  background-color: rgba($secondary, 0.5);
  border-radius: 10px;
}

.h-scroll-box::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: rgba($secondary, 0.8);
}

.h-scroll-box > * {
  scroll-snap-align: start;
}

@media only screen and (min-width: 768px) {
  .h-scroll-box {
    grid-auto-columns: 43%;
  }
}

.badge-box {
  display: flex;
}

.page__content h2 {
  border-bottom: none;
}

.badge {
  border-radius: 0.375rem; 
  margin: 3px; 
  height: 50px;
  display: inline;
}

.archive {
  width: 100% !important;
}
.sidebar.sticky,
.sticky {
  width: 0 !important;
  display: none;
}

.site-title {
  //background-color: silver;
  // background-image: ;
  font-size: 2.1em;
  //padding: 0px 20px;
  border-radius: 1000px;
  //color: linear-gradient(45deg, #901dfc, #fc404a) !important;
}

.masthead {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.site-title-span {
  background: linear-gradient(120deg, $primary, $accent);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.page__footer {
  background-color: rgba(10, 0, 20, 0.05);
}

